<form method="post" action="{{ path('mot_cle_delete', {'id': mot_cle.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce mot-clé ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mot_cle.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
