{% extends 'base.html.twig' %}

{% block title %}Modifier le mot-clé{% endblock %}

{% block body %}
    <h1>Modifier le mot-clé</h1>

    {{ include('mot_cle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mot_cle_index') }}">Retour à la liste</a>

    {{ include('mot_cle/_delete_form.html.twig') }}
{% endblock %}
