{% extends 'base.html.twig' %}

{% block title %}Nouveau Mot Clé{% endblock %}

{% block body %}
    <h1>Nouveau Mot Clé</h1>

    {{ include('mot_cle/_form.html.twig') }}

    <a href="{{ path('mot_cle_index') }}">Retour à la liste</a>
{% endblock %}
